# Dealing with Missing Data - Lab

## Introduction

In this lab, we'll work through strategies for data cleaning and dealing with null values (NaNs).

## Objectives
* Detect missing data in Pandas using .describe(), .info(), .isnull and .notnull
* Replace/drop missing data in Pandas using .fillna and .dropna


## Dataset

In this lab, we'll continue working with the _Titanic Survivors_ dataset, which can be found in `titanic.csv`.

Before we can get going, we'll need to import the usual libraries.  In the cell below, import:
* `pandas` as `pd`
* `numpy` as `np`
* `matplotlib.pyplot` as `plt`
* set `%matplotlib inline`

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', None)

Now, let's get started by reading in the data from the **titanic.csv** file and storing it in a DataFrame in the `df` variable below. Subsequently, be sure to preview the data.

In [4]:
df =  pd.read_csv('titanic.csv')
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Finding Null Values in a DataFrame

Before we can deal with null values, we first need to find them. There are several easy ways to detect them.  We will start by answering very general questions, such as "does this DataFrame contain any null values?", and then narrowing our focus each time the answer to a question is "yes".

We'll start by checking to see if the DataFrame contains **any** null values (NaNs) at all. 

**_Hint_**: If you do this correctly, it will require method chaining, and will return a boolean value for each column.

In [ ]:
df.info()

In [ ]:
df.isna().sum()
#creates a sum of null values

Now we know which columns contain null values, but not how many. 

In the cell below, check chain a different method with `isna()` to check how many total null values are in each column.  

Expected Output:

```
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64```

In [ ]:
(df.Cabin.isna().sum())/(len(df))

Now that we know how many null values exist in each column, we can make some decisions about how to deal with them.  

We'll deal with each column individually, and employ a different strategy for each.  


### Dropping the Column

The first column we'll deal with is the `Cabin` column.  We'll begin by examining this column more closely. 


In the cell below:
* Determine what percentage of rows in this column contain missing values
* Print out the number of unique values in this column

With this many missing values, it's probably best for us to just drop this column completely.

In the cell below:

* drop the `Cabin` column in place from the `df` DataFrame
* Then, check the remaining number of null values in the data set by using the code you wrote previously.

In [5]:
df = df.drop(columns = 'Cabin')
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

### Computing Placeholder Values

Recall that another common strategy for dealing with null values is to replace them with the mean or median for that column.  We'll begin by investigating the current version of the `'Age'` column.  

In the cell below:

* Plot a histogram of values in the `'Age'` column with 80 bins (1 for each year).   
* Print out the mean and median for the column.

In [ ]:
df.Age.plot(kind='hist')

In [ ]:
df.Age.mean()

In [ ]:
df.Age.describe()

From the visualization above, we can see the data has a slightly positive skew. 

In the cell below, replace all null values in the `'Age'` column with the median of the column.  **Do not hard code this value--use the methods from pandas or numpy to make this easier!**  Do this replacement in place on the DataFrame.

In [6]:
df['Age'] = df.Age.fillna(df.Age.median())
#Hard code = 28. Don't use hard code. More dynamic.

Now that we've replaced the values in the `'Age'` column, let's confirm that they've been replaced.  

In the cell below, check how many null values remain in the dataset.

In [ ]:
df.Age.isna().sum()

Great! Now we need to deal with the two pesky null values in the `'Embarked'` column.  

### Dropping Rows That Contain Null Values

Perhaps the most common solution to dealing with null values is to simply drop any rows that contain them.  Of course, this is only a good idea if the number dropped does not constitute a significant portion of our dataset.  Often, you'll need to make the overall determination to see if dropping the values is an acceptable loss, or if it is a better idea to just drop an offending column (e.g. the `'Cabin'` column) or to impute placeholder values instead.

In the cell below, use the appropriate built-in DataFrame method to drop the rows containing null values. Do this in place on the DataFrame.

In [7]:
df.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
df1 = df

In [8]:
#***DO NOT DO THIS*** df['Embarked'] = df.Embarked.dropna(axis = 0, inplace = True): 
df.dropna(axis=0, inplace = True, subset = ['Embarked'])

In [ ]:
df1.Embarked.fillna("Unknown", inplace = True)

In [ ]:
df1.Embarked.unique()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
Unnamed: 0     889 non-null int64
PassengerId    889 non-null int64
Survived       889 non-null int64
Pclass         889 non-null object
Name           889 non-null object
Sex            889 non-null object
Age            889 non-null float64
SibSp          889 non-null int64
Parch          889 non-null int64
Ticket         889 non-null object
Fare           889 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

Great! We've dealt with all the **_obvious_** null values, but we should also take some time to make sure that there aren't symbols or numbers included that are meant to denote a missing value. 

### Missing Values with Placeholders

A common thing to see when working with datasets is missing values denoted with a preassigned code or symbol.  Let's check to ensure that each categorical column contains only what we expect.

In the cell below, return the unique values in the `'Embarked'`, `'Sex'`, `'Pclass'`, and `'Survived'` columns to ensure that there are no values in there that we don't understand or can't account for.

In [10]:
df.Embarked.unique()

array(['S', 'C', 'Q'], dtype=object)

In [12]:
df.Sex.unique()

array(['male', 'female'], dtype=object)

In [13]:
df.Pclass.unique()

array(['3', '1', '2', '?'], dtype=object)

In [14]:
df.Survived.unique()

array([0, 1], dtype=int64)

It Looks like the `'Pclass'` column contains some missing values denoted by a placeholder! 

In the cell below, investigate how many placeholder values this column contains.  Then, deal with these null values using whichever strategy you believe is most appropriate in this case.

In [19]:
len(df[df['Pclass'] == '?'])/len(df)
#Make sure to use df[df[]], and not just df[]

0.05399325084364454

In [29]:
df.groupby('Pclass').describe()

       Unnamed: 0                                                              \
            count        mean         std   min     25%    50%     75%    max
Pclass
1           200.0  454.075000  248.285274   1.0  262.75  461.0  660.50  889.0
2           172.0  433.860465  249.070866   9.0  227.50  422.0  652.00  886.0
3           469.0  436.624733  263.181999   0.0  200.00  433.0  661.00  890.0
?            48.0  528.937500  250.539622  25.0  354.00  548.5  750.25  888.0

       PassengerId                                                       \
             count        mean         std   min     25%    50%     75%
Pclass
1            200.0  455.075000  248.285274   2.0  263.75  462.0  661.50
2            172.0  434.860465  249.070866  10.0  228.50  423.0  653.00
3            469.0  437.624733  263.181999   1.0  201.00  434.0  662.00
?             48.0  529.937500  250.539622  26.0  355.00  549.5  751.25

              Survived                                                 Age  \
          max    count      mean       std  min  25%  50%  75%  max  count
Pclass
1       890.0    200.0  0.615000  0.487816  0.0  0.0  1.0  1.0  1.0  200.0
2       887.0    172.0  0.465116  0.500238  0.0  0.0  0.0  1.0  1.0  172.0
3       891.0    469.0  0.245203  0.430667  0.0  0.0  0.0  0.0  1.0  469.0
?       889.0     48.0  0.458333  0.503534  0.0  0.0  0.0  1.0  1.0   48.0

                                                            SibSp            \
             mean        std   min   25%   50%   75%   max  count      mean
Pclass
1       36.597100  14.305102  0.92  28.0  35.0  48.0  80.0  200.0  0.430000
2       29.533895  13.678303  0.67  23.0  28.0  36.0  70.0  172.0  0.383721
3       25.914542  10.803958  0.42  20.0  28.0  29.0  74.0  469.0  0.609808
?       31.416667  11.421952  2.00  28.0  28.5  36.0  70.0   48.0  0.583333

                                           Parch                           \
             std  min  25%  50%  75%  max  count      mean       std  min
Pclass
1       0.622122  0.0  0.0  0.0  1.0  3.0  200.0  0.370000  0.703973  0.0
2       0.575699  0.0  0.0  0.0  1.0  2.0  172.0  0.360465  0.665135  0.0
3       1.350526  0.0  0.0  0.0  1.0  8.0  469.0  0.383795  0.870844  0.0
?       1.350072  0.0  0.0  0.0  1.0  8.0   48.0  0.500000  1.010582  0.0

                             Fare                                             \
        25%  50%  75%  max  count       mean        std  min    25%      50%
Pclass
1       0.0  0.0  1.0  4.0  200.0  84.767625  79.577726  0.0  31.00  60.2875
2       0.0  0.0  1.0  3.0  172.0  20.636434  13.220960  0.0  13.00  14.2500
3       0.0  0.0  0.0  6.0  469.0  13.525701  11.481836  0.0   7.75   8.0500
?       0.0  0.0  1.0  5.0   48.0  35.154250  46.541729  0.0   8.05  20.7625


              75%       max
Pclass
1       96.731250  512.3292
2       26.000000   73.5000
3       15.500000   69.5500
?       32.415625  227.5250

In [31]:
df = df.loc[df.Pclass != '?']

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 841 entries, 0 to 890
Data columns (total 12 columns):
Unnamed: 0     841 non-null int64
PassengerId    841 non-null int64
Survived       841 non-null int64
Pclass         841 non-null object
Name           841 non-null object
Sex            841 non-null object
Age            841 non-null float64
SibSp          841 non-null int64
Parch          841 non-null int64
Ticket         841 non-null object
Fare           841 non-null float64
Embarked       841 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 85.4+ KB

In [33]:
df.Pclass.unique()

array(['3', '1', '2'], dtype=object)

**_Question:_** What is the benefit of treating missing values as a separate valid category?  What is the benefit of removing or replacing them? What are the drawbacks of each? Finally, which strategy did you choose? Explain your choice below. 

Write your answer below this line:
______________________________________________________________________________________________________

Now, let's do a final check to ensure that there are no more null values remaining in this dataset.  

In the cell below, reuse the code you wrote at the beginning of the notebook to check how many null values our dataset now contains.

In [ ]:
# Your code here

Great! Those all seem in line with our expectations.  We can confidently say that this dataset contains no pesky null values that will mess up our analysis later on!

## Summary

In this lab, we learned:
* How to detect null values in our dataset
* How to deal with null values by dropping rows
* How to deal with null values by imputing mean/median values 
* Strategies for detecting null values encoded with a placeholder